<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>バッジテスト 初級</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" href="./css/paper.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body class="A4 landscape" contenteditable>

  <section class="sheet element grade-0">

    <h1>バッジテスト手控え</h1>

    <h2>初級</h2>

    <table class="basic_information">
	    <tr>
		    <th>実施日</th><td class="date"><span class="year"></span>年<span class="month"></span>月<span class="day"></span>日</td>
		    <th>実施場所</th><td class="place"></td>
		</tr>
		<tr>
		    <th>実施連盟</th><td class="host"></td>
		    <th>審判員氏名</th><td class="judge"></td>
		</tr>
    </table>
    
<table class="marking_sheet">
	<colgroup class="number"><colgroup class="name">
	<colgroup class="item jump" span="4">
	<colgroup class="item step" span="2">
	<colgroup class="result">
	
	<thead>
		<tr class="caption">
			<th class="category" colspan="2">必須要素</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th>音楽：CD2</th>
			<th>音楽：CD2</th>
			<th></th>
		</tr>
		<tr class="title">
			<th class="number">番<br>号</th>
			<th class="name">選手名</th>
			<th>ハーフサークル<br>RFO-LFO</th>
			<th>ハーフサークル<br>RFI-LFI</th>
			<th>ハーフサークル<br>RBO-LBO</th>
			<th>ハーフサークル<br>RBI-LBI</th>
			<th>フォワードストローク、<br>クロスとストップ</th>
			<th>バックワードクロスで<br>パラグラフ・パターンを2周</th>
			<th class="result">合<br>否</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>    

  </section>

</body>

</html>
