<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>バッジテスト 3級 フリースケーティング</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" href="./css/paper.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body class="A4 landscape" contenteditable>

  <section class="sheet freeskating grade-3fs">

    <h1>バッジテスト手控え</h1>
    
    <h2>3級</h2>
    
    <table class="basic_information">
	    <tr>
		    <th>実施日</th><td class="date"><span class="year"></span>年<span class="month"></span>月<span class="day"></span>日</td>
		    <th>実施場所</th><td class="place"></td>
		</tr>
		<tr>
		    <th>実施連盟</th><td class="host"></td>
		    <th>審判員氏名</th><td class="judge"></td>
		</tr>
    </table>
    

<div>
	<span class="category">フリー・スケーティング</span>
	<span class="duration">男子・女子：2′00″</span>
</div>

<table class="reguration">
	<tr>
		<th rowspan="3">実施<br>最低<br>要素</th>
		<th>ジャンプ</th>
		<td>
			<ol>
				<li>1A</li>
				<li>任意のダブル</li>
				<li>ジャンプ・コンビネーション（２＋１以上、2と同じ種類のジャンプでもよいが2とは別で行うこと）</li>
			</ol>
		</td>
		<th rowspan="3">合格<br>基準</th>
		<td rowspan="3">GOE: -4以内<br>PCS: 平均2.00以上</td>
	</tr>
	<tr>
		<th>スピン<br>右の内２つを選択必須</th>
		<td>
			<ol>
				<li>CSp（5回転以上、足換えなし）</li>
				<li>フライングスピン（着氷後5回転以上、足換えなし）</li>
				<li>CoSp（キャメルおよびシットポジションの両方を含む、6回転以上）</li>
			</ol>
		</td>
	</tr>
	<tr>
		<th>StSq</th>
		<td>リンクの長辺の１／２以上の長さが必要</td>
	</tr>
</table>

<table class="marking_sheet">
	<colgroup class="number"><colgroup class="name">
	<colgroup class="item jump" span="6">
	<colgroup class="item spin" span="2">
	<colgroup class="item step">
	<colgroup class="item pcs" span="3">
	<colgroup class="item pcs-average">
	<colgroup class="result">
	<thead>
		<tr class="title title-1">
			<th rowspan="2" class="number">番<br>号</th>
			<th rowspan="2" class="name">選手名</th>
			<th colspan="6">ジャンプ</th>
			<th colspan="2" rowspan="2">スピン</th>
			<th rowspan="2">Step</th>
			<th colspan="3">PCS</th>
			<th>合計</th>
			<th rowspan="2" class="result">合<br>否</th>
		</tr>
		<tr class="title title-2">
			<th>1A</th>
			<th>ダブル</th>
			<th>コンボ</th>
			<th colspan="3">その他</th>
			<th>SS</th>
			<th>PE</th>
			<th>IN</th>
			<th>平均</th>
		</tr>
	</thead>
	<tbody>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="3"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="3"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="3"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="3"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="3"></td>
			<td></td>
		</tr>
	</tbody>
</table>    

  </section>

</body>

</html>
