<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>バッジテスト 7級 フリースケーティング</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" href="./css/paper.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body class="A4 landscape" contenteditable>

  <section class="sheet short-program grade-7sp">

    <h1>バッジテスト手控え</h1>
    
    <h2>7級</h2>
    
    <table class="basic_information">
	    <tr>
		    <th>実施日</th><td class="date"><span class="year"></span>年<span class="month"></span>月<span class="day"></span>日</td>
		    <th>実施場所</th><td class="place"></td>
		</tr>
		<tr>
		    <th>実施連盟</th><td class="host"></td>
		    <th>審判員氏名</th><td class="judge"></td>
		</tr>
    </table>
    

<div>
	<span class="category">ショート・プログラム</span>
	<span class="duration">2′50″以内</span>
</div>

<table class="reguration">
	<tr>
		<th>実施最低要素</th>
		<td>当該年度のISUシニア・ショート・プログラム規程による</td>
	</tr>
	<tr>
		<th>合格基準</th>
		<td>GOE（ジャンプ）：-3以内、GOE（スピン、ステップ）：+1以上、PCS：平均4.25以上</td>
	</tr>
</table>

<table class="marking_sheet">
	<colgroup class="number"><colgroup class="name">
	<colgroup class="item jump" span="2">
	<colgroup class="item jump-combo" span="1">
	<colgroup class="item spin" span="3">
	<colgroup class="item step">
	<colgroup class="item pcs" span="5">
	<colgroup class="item pcs-average">
	<colgroup class="result">
	<thead>
		<tr class="title title-1">
			<th rowspan="2" class="number">番<br>号</th>
			<th rowspan="2" class="name">選手名</th>
			<th colspan="3">ジャンプ</th>
			<th colspan="3">スピン</th>
			<th >ステップ</th>
			<th colspan="5">PCS</th>
			<th>合計</th>
			<th rowspan="2" class="result">合<br>否</th>
		</tr>
		<tr class="title title-2">
			<th>2A<br>3A</th>
			<th>ステップから<br>トリプル</th>
			<th>男：2+3 3+3 4+3<br>女：2+3 3+3</th>
			<th>FXSp<br>（右とは異なる姿勢）</th>
			<th>男：CXSp<br>女：LSp</th>
			<th>CCoSp</th>
			<th>StSq</th>
			<th>SS</th>
			<th>TR</th>
			<th>PE</th>
			<th>CH</th>
			<th>IN</th>
			<th>平均</th>
		</tr>
	</thead>
	<tbody>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="5"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="5"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="5"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="5"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="5"></td>
			<td></td>
		</tr>
	</tbody>
</table>    

  </section>

</body>

</html>
