<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>バッジテスト エレメンツ＆ステップ</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" href="https://ojunn.github.io/jsf-btad/template/css/paper.css">
  <link rel="stylesheet" href="https://ojunn.github.io/jsf-btad/template/css/style.css">
</head>

<body class="A4 landscape" contenteditable>

  <section class="sheet element grade-0">

    <h1>バッジテスト手控え</h1>

    <h2>初級</h2>

    <table class="basic_information">
	    <tr>
		    <th>実施日</th><td class="date"><span class="year"></span>年<span class="month"></span>月<span class="day"></span>日</td>
		    <th>実施場所</th><td class="place"></td>
		</tr>
		<tr>
		    <th>実施連盟</th><td class="host"></td>
		    <th>審判員氏名</th><td class="judge"></td>
		</tr>
    </table>
    
<table class="marking_sheet">
	<colgroup class="number"><colgroup class="name">
	<colgroup class="item jump" span="4">
	<colgroup class="item step" span="2">
	<colgroup class="result">
	
	<thead>
		<tr class="caption">
			<th class="category" colspan="2">必須要素</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th>音楽：CD2</th>
			<th>音楽：CD2</th>
			<th></th>
		</tr>
		<tr class="title">
			<th class="number">番<br>号</th>
			<th class="name">選手名</th>
			<th>ハーフサークル<br>RFO-LFO</th>
			<th>ハーフサークル<br>RFI-LFI</th>
			<th>ハーフサークル<br>RBO-LBO</th>
			<th>ハーフサークル<br>RBI-LBI</th>
			<th>フォワードストローク、<br>クロスとストップ</th>
			<th>バックワードクロスで<br>パラグラフ・パターンを2周</th>
			<th class="result">合<br>否</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>    

  </section>


  <section class="sheet element grade-1">

    <h1>バッジテスト手控え</h1>
    
    <h2>1級</h2>
    
    <table class="basic_information">
	    <tr>
		    <th>実施日</th><td class="date"><span class="year"></span>年<span class="month"></span>月<span class="day"></span>日</td>
		    <th>実施場所</th><td class="place"></td>
		</tr>
		<tr>
		    <th>実施連盟</th><td class="host"></td>
		    <th>審判員氏名</th><td class="judge"></td>
		</tr>
    </table>
    
<table class="marking_sheet">
	<colgroup class="number"><colgroup class="name"><colgroup class="item jump" span="3"><colgroup class="item spin" span="2"><colgroup class="result"><colgroup class="item" span="4"><colgroup class="result">
	<thead>
		<tr class="caption">
			<th class="category" colspan="2">必須要素</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th class="category" colspan="2">ステップ</th>
			<th>音楽：CD3</th>
			<th>音楽：CD2</th>
			<th></th>
		</tr>
		<tr class="title">
			<th class="number">番<br>号</th>
			<th class="name">選手名</th>
			<th>1W</th>
			<th>1T</th>
			<th>1S</th>
			<th>ジャンプ・コンビネーション<br>（1+1）</th>
			<th>USp<br>（5回転以上）</th>
			<th class="result">EL<br>合否</th>
			<th>フォア・チェンジ・<br>ハーフサークル<br><strong>（左）</strong></th>
			<th>フォア・チェンジ・<br>ハーフサークル<br><strong>（右）</strong></th>
			<th>ワルツ（スリー）<br>ステップ</th>
			<th>バッククロスとフォア・アウトエッジ<br>によるカーブのステップ</th>
			<th class="result">ST<br>合否</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>    

  </section>

  <section class="sheet element grade-2es">

    <h1>バッジテスト手控え</h1>
    
    <h2>2級</h2>
    
    <table class="basic_information">
	    <tr>
		    <th>実施日</th><td class="date"><span class="year"></span>年<span class="month"></span>月<span class="day"></span>日</td>
		    <th>実施場所</th><td class="place"></td>
		</tr>
		<tr>
		    <th>実施連盟</th><td class="host"></td>
		    <th>審判員氏名</th><td class="judge"></td>
		</tr>
    </table>
    
<table class="marking_sheet">
	<colgroup class="number"><colgroup class="name">
	<colgroup class="item jump" span="3"><colgroup class="item jump-combo"><colgroup class="item spin" span="2">
	<colgroup class="result">
	<colgroup class="choice">
	<colgroup class="item step" span="4">
	<colgroup class="result">
	<thead>
		<tr class="caption">
			<th class="category" colspan="2">必須要素</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th class="category" colspan="2">ステップ</th>
			<th></th>
			<th>音楽：CD3</th>
			<th></th>
		</tr>
		<tr class="title title-1">
			<th rowspan="2" class="number">番<br>号</th>
			<th rowspan="2" class="name">選手名</th>
			<th rowspan="2">1Lo</th>
			<th rowspan="2">1F</th>
			<th rowspan="2">1Lz</th>
			<th rowspan="2">ジャンプ・コンビネーション<br>（1Lo, 1F, 1Lzを含む）</th>
			<th rowspan="2">クロス・スピン または<br>バックスクラッチ<br>（5回転以上）</th>
			<th rowspan="2">SSp<br>（5回転以上）</th>
			<th rowspan="2" class="result">EL<br>合否</th>
			<th class="choice">①</th>
			<th>フォア・<strong>アウト</strong>の<br>スリーターン・ステップ</th>
			<th>フォア・<strong>イン</strong>の<br>ダブルスリー・ステップ</th>
			<th rowspan="2">ワルツ（スリー）<br>ステップ</th>
			<th rowspan="2">バックのスリーターンとモホークのステップ</th>
			<th rowspan="2" class="result">ST<br>合否</th>
		</tr>
		<tr class="title title-2">
			<th class="choice">②</th>
			<th>フォア・<strong>イン</strong>の<br>スリーターン・ステップ</th>
			<th>フォア・<strong>アウト</strong>の<br>ダブルスリー・ステップ</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>

	</tbody>
</table>    

  </section>

  <section class="sheet element grade-3es">

    <h1>バッジテスト手控え</h1>
    
    <h2>3級</h2>
    
    <table class="basic_information">
	    <tr>
		    <th>実施日</th><td class="date"><span class="year"></span>年<span class="month"></span>月<span class="day"></span>日</td>
		    <th>実施場所</th><td class="place"></td>
		</tr>
		<tr>
		    <th>実施連盟</th><td class="host"></td>
		    <th>審判員氏名</th><td class="judge"></td>
		</tr>
    </table>
    
<table class="marking_sheet">
	<colgroup class="number"><colgroup class="name">
	<colgroup class="item jump" span="2"><colgroup class="item jump-combo"><colgroup class="item spin" span="3">
	<colgroup class="result">
	<colgroup class="choice">
	<colgroup class="item step" span="4">
	<colgroup class="result">
	<thead>
		<tr class="caption">
			<th class="category" colspan="9">必須要素</th>
			<th class="category" colspan="6">ステップ</th>
		</tr>
		<tr class="title title-1">
			<th rowspan="2" class="number">番<br>号</th>
			<th rowspan="2" class="name">選手名</th>
			<th rowspan="2">1A</th>
			<th rowspan="2">任意の<br>ダブル<br>ジャンプ</th>
			<th rowspan="2">ジャンプ・<br>コンビネーション<br>（2+1以上）</th>
			<th rowspan="2">CSp<br>（5回転以上）</th>
			<th rowspan="2">フライング<br>スピン<br>（種類は任意、着氷後5回転以上）</th>
			<th rowspan="2">スピンコンビネーション<br>（足換えなし、6回転以上）</th>
			<th rowspan="2" class="result">EL<br>合否</th>
			<th class="choice">①</th>
			<th>バック・チェンジ・ハーフサークル<strong>（右）</strong></th>
			<th>フォア<strong>イン</strong><br>ブラケット<br>（スタートは任意）</th>
			<th>ワン・フット・スネーキング<br>フォア<strong>（右）</strong></th>
			<th>ワン・フット・スネーキング<br>バック<strong>（左）</strong></th>
			<th rowspan="2" class="result">ST<br>合否</th>
		</tr>
		<tr class="title title-2">
			<th class="choice">②</th>
			<th>バック・チェンジ・ハーフサークル<strong>（左）</strong></th>
			<th>フォア<strong>アウト</strong><br>ブラケット<br>（スタートは任意）</th>
			<th>ワン・フット・スネーキング<br>フォア<strong>（左）</strong></th>
			<th>ワン・フット・スネーキング<br>バック<strong>（右）</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>

	</tbody>
</table>    

  </section>

  <section class="sheet element grade-4es">

    <h1>バッジテスト手控え</h1>
    
    <h2>4級</h2>
    
    <table class="basic_information">
	    <tr>
		    <th>実施日</th><td class="date"><span class="year"></span>年<span class="month"></span>月<span class="day"></span>日</td>
		    <th>実施場所</th><td class="place"></td>
		</tr>
		<tr>
		    <th>実施連盟</th><td class="host"></td>
		    <th>審判員氏名</th><td class="judge"></td>
		</tr>
    </table>
    
<table class="marking_sheet">
	<colgroup class="number"><colgroup class="name">
	<colgroup class="item jump" span="3"><colgroup class="item jump-combo"><colgroup class="item spin" span="2">
	<colgroup class="result">
	<colgroup class="choice">
	<colgroup class="item step" span="4">
	<colgroup class="result">
	<thead>
		<tr class="caption">
			<th class="category" colspan="9">必須要素</th>
			<th class="category" colspan="6">ステップ</th>
		</tr>
		<tr class="title title-1">
			<th rowspan="2" class="number">番<br>号</th>
			<th rowspan="2" class="name">選手名</th>
			<th rowspan="2">2T</th>
			<th rowspan="2">2S</th>
			<th rowspan="2">2Lo</th>
			<th rowspan="2">ジャンプ<br>コンボ<br>（2+2）</th>
			<th rowspan="2">女子：LSp<br>（5回転）<br>男子：CCSp/CSSp<br>（難しいバリエーションを1つ、5+5回転）</th>
			<th rowspan="2">スピンコンボ<br>（足換えあり、6+6回転）</th>
			<th rowspan="2" class="result">EL<br>合否</th>
			<th class="choice">①</th>
			<th rowspan="2">オープン・チョクトーとスリーターンのステップ</th>
			<th rowspan="2">トウステップ</th>
			<th>フォア<br>ツイズル<br><strong>（アウト）</strong></th>
			<th>バック<br>ツイズル<br><strong>（アウト）</strong></th>
			<th rowspan="2" class="result">ST<br>合否</th>
		</tr>
		<tr class="title title-2">
			<th class="choice">②</th>
			<th>フォア<br>ツイズル<br><strong>（イン）</strong></th>
			<th>バック<br>ツイズル<br><strong>（イン）</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>

	</tbody>
</table>    

  </section>

  <section class="sheet element grade-5es">

    <h1>バッジテスト手控え</h1>
    
    <h2>5級</h2>
    
    <table class="basic_information">
	    <tr>
		    <th>実施日</th><td class="date"><span class="year"></span>年<span class="month"></span>月<span class="day"></span>日</td>
		    <th>実施場所</th><td class="place"></td>
		</tr>
		<tr>
		    <th>実施連盟</th><td class="host"></td>
		    <th>審判員氏名</th><td class="judge"></td>
		</tr>
    </table>
    
<table class="marking_sheet">
	<colgroup class="number"><colgroup class="name">
	<colgroup class="item jump" span="3"><colgroup class="item spin" span="3">
	<colgroup class="result">
	<colgroup class="choice">
	<colgroup class="item step" span="3">
	<colgroup class="result">
	<thead>
		<tr class="caption">
			<th class="category" colspan="9">必須要素</th>
			<th class="category" colspan="5">ステップ</th>
		</tr>
		<tr class="title title-1">
			<th rowspan="2" class="number">番<br>号</th>
			<th rowspan="2" class="name">選手名</th>
			<th rowspan="2">ステップからの<br>2F/2Lz</th>
			<th rowspan="2">単独の<br>2F/2Lz<br>（左とは別の種類）</th>
			<th rowspan="2">2F+2Lo<br>2F+2T<br>2Lz+2Lo<br>2Lz+2T</th>
			<th rowspan="2">CCoSp3p<br>（各姿勢2回転、難しいバリエーション1つ、6+6回転）</th>
			<th rowspan="2">FCSp<br>（姿勢、バリエーション、エッジの変更なしで6回転）</th>
			<th rowspan="2">FSSp<br>（空中姿勢はシット。着氷後は姿勢、バリエーション、エッジの変更なしで6回転）</th>
			<th rowspan="2" class="result">EL<br>合否</th>
			<th class="choice">①</th>
			<th><strong>アウト</strong><br>カウンター</th>
			<th><strong>イン</strong><br>ロッカー</th>
			<th>テクニカル<br>ステップ<br><strong>（右足）</strong></th>
			<th rowspan="2" class="result">ST<br>合否</th>
		</tr>
		<tr class="title title-2">
			<th class="choice">②</th>
			<th><strong>イン</strong><br>カウンター</th>
			<th><strong>アウト</strong><br>ロッカー</th>
			<th>テクニカル<br>ステップ<br><strong>（左足）</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>

	</tbody>
</table>    

  </section>

  <section class="sheet element grade-6es">

    <h1>バッジテスト手控え</h1>
    
    <h2>6級</h2>
    
    <table class="basic_information">
	    <tr>
		    <th>実施日</th><td class="date"><span class="year"></span>年<span class="month"></span>月<span class="day"></span>日</td>
		    <th>実施場所</th><td class="place"></td>
		</tr>
		<tr>
		    <th>実施連盟</th><td class="host"></td>
		    <th>審判員氏名</th><td class="judge"></td>
		</tr>
    </table>
    
<table class="marking_sheet">
	<colgroup class="number"><colgroup class="name">
	<colgroup class="item jump" span="3"><colgroup class="item spin" span="2">
	<colgroup class="item memo">
	<colgroup class="result">
	<thead>
		<tr class="caption">
			<th class="category" colspan="9">必須要素</th>
		</tr>
		<tr class="title title-1">
			<th  class="number">番<br>号</th>
			<th  class="name">選手名</th>
			<th >2A</th>
			<th >ジャンプコンボ<br>女子：2+2+2<br>男子：3+2以上<br>（同じ種類は2回まで）</th>
			<th >ステップからの<br>単独ジャンプ<br>（今年度のJrSP課題）</th>
			<th >CCoSp3p<br>（足換え後に3姿勢各2回転、<br>足換え前も1姿勢必要）</th>
			<th >フライングスピン<br>（正しい空中姿勢、<br>姿勢変更なしで8回転、<br>今年度のJrSP課題）</th>
			<th >備考</th>
			<th  class="result">EL<br>合否</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>    

  </section>

  <section class="sheet element grade-7es">

    <h1>バッジテスト手控え</h1>
    
    <h2>7級</h2>
    
    <table class="basic_information">
	    <tr>
		    <th>実施日</th><td class="date"><span class="year"></span>年<span class="month"></span>月<span class="day"></span>日</td>
		    <th>実施場所</th><td class="place"></td>
		</tr>
		<tr>
		    <th>実施連盟</th><td class="host"></td>
		    <th>審判員氏名</th><td class="judge"></td>
		</tr>
    </table>
    
<table class="marking_sheet">
	<colgroup class="number"><colgroup class="name">
	<colgroup class="item jump" span="4"><colgroup class="item spin" span="2">
	<colgroup class="result">
	<thead>
		<tr class="caption">
			<th class="category" colspan="9">必須要素</th>
		</tr>
		<tr class="title title-1">
			<th  class="number">番<br>号</th>
			<th  class="name">選手名</th>
			<th >2A</th>
			<th >ステップからの<br>トリプルジャンプ</th>
			<th >単独の<br>トリプルジャンプ<br>（左とは別の種類）</th>
			<th >ジャンプコンボ<br>3+2以上</th>
			<th >任意のフライングスピン<br>（姿勢とバリエーションの変更なしで8回転した後に、難しいバリエーションまたはチェンジエッジを行う）</th>
			<th >CCoSp<br>（今季のレベルを上げるフィーチャーを3つ）</th>
			<th  class="result">EL<br>合否</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>    

  </section>

  <section class="sheet element grade-8es">

    <h1>バッジテスト手控え</h1>
    
    <h2>8級</h2>
    
    <table class="basic_information">
	    <tr>
		    <th>実施日</th><td class="date"><span class="year"></span>年<span class="month"></span>月<span class="day"></span>日</td>
		    <th>実施場所</th><td class="place"></td>
		</tr>
		<tr>
		    <th>実施連盟</th><td class="host"></td>
		    <th>審判員氏名</th><td class="judge"></td>
		</tr>
    </table>
    
<table class="marking_sheet">
	<colgroup class="number"><colgroup class="name">
	<colgroup class="item jump" span="6"><colgroup class="item jump-combo">
	<colgroup class="item spin-combo">
	<colgroup class="item spin-flying" span="2">
	<colgroup class="result">
	<thead>
		<tr class="caption">
			<th class="category" colspan="14">必須要素</th>
		</tr>
		<tr class="title title-1">
			<th  class="number">番<br>号</th>
			<th  class="name">選手名</th>
			<th colspan="5">トリプルジャンプ<br>女子：4種類<br>男子：5種類<br>1つはステップからの単独</th>
			<th >3A<br>（男子）</th>
			<th >ジャンプコンボ<br>女子：3+2、3+3<br>男子：3+3</th>
			<th >CCoSp<br>（今季のレベルを上げるフィーチャーを3つ）</th>
			<th colspan="2">2種類の<br>フライングスピン<br>（今季のレベルを上げるフィーチャーを3つ）</th>
			<th  class="result">EL<br>合否</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>    

  </section>

</body>

</html>
