<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>バッジテスト フリースケーティング</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" href="https://ojunn.github.io/jsf-btad/template/css/paper.css">
  <link rel="stylesheet" href="https://ojunn.github.io/jsf-btad/template/css/style.css">
</head>

<body class="A4 landscape" contenteditable>

  <section class="sheet freeskating grade-2fs">

    <h1>バッジテスト手控え</h1>
    
    <h2>2級</h2>
    
    <table class="basic_information">
	    <tr>
		    <th>実施日</th><td class="date"><span class="year"></span>年<span class="month"></span>月<span class="day"></span>日</td>
		    <th>実施場所</th><td class="place"></td>
		</tr>
		<tr>
		    <th>実施連盟</th><td class="host"></td>
		    <th>審判員氏名</th><td class="judge"></td>
		</tr>
    </table>
    

<div>
	<span class="category">フリー・スケーティング</span>
	<span class="duration">男子・女子：1′00″</span>
</div>

<table class="reguration">
	<tr>
		<th>実施<br>最低<br>要素</th>
		<td>
			<ol>
				<li>ジャンプ（１Ｌｏ、１Ｆ、１Lzを含み最大４種類）</li>
				<li>ジャンプ・コンビネーションまたはジャンプ・シークェンス（１Ｌｚまたは１Ｆを含む）、1F、1Lzは単独ジャンプに含んでよい。</li>
				<li>１姿勢のスピン（SSｐ、５回転以上、足換えなし）</li>
				<li>ステップシークエンス（リンク長辺の１／２以上の長さが必要）</li>
			</ol>
		</td>
		<th>合格<br>基準</th>
		<td>GOE: -3以内<br>PCS: 平均1.50以上</td>
	</tr>
</table>

<table class="marking_sheet">
	<colgroup class="number"><colgroup class="name">
	<colgroup class="item jump" span="4">
	<colgroup class="item jump-combo">
	<colgroup class="item spin">
	<colgroup class="item step">
	<colgroup class="item pcs" span="3">
	<colgroup class="item pcs-average">
	<colgroup class="result">
	<thead>
		<tr class="title title-1">
			<th rowspan="2" class="number">番<br>号</th>
			<th rowspan="2" class="name">選手名</th>
			<th colspan="4">ジャンプ</th>
			<th rowspan="2">ジャンプ・コンビネーション（1Lzか1Fを含む、1+1以上）</th>
			<th rowspan="2">SSp（5回転以上、足換えなし）</th>
			<th rowspan="2">Step</th>
			<th colspan="3">PCS</th>
			<th>合計</th>
			<th rowspan="2" class="result">合<br>否</th>
		</tr>
		<tr class="title title-2">
			<th colspan="4">1Lo/1F/1Lz</th>
			<th>SS</th>
			<th>PE</th>
			<th>IN</th>
			<th>平均</th>
		</tr>
	</thead>
	<tbody>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="3"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="3"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="3"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="3"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="3"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="3"></td>
			<td></td>
		</tr>
	</tbody>
</table>    

  </section>

  <section class="sheet freeskating grade-3fs">

    <h1>バッジテスト手控え</h1>
    
    <h2>3級</h2>
    
    <table class="basic_information">
	    <tr>
		    <th>実施日</th><td class="date"><span class="year"></span>年<span class="month"></span>月<span class="day"></span>日</td>
		    <th>実施場所</th><td class="place"></td>
		</tr>
		<tr>
		    <th>実施連盟</th><td class="host"></td>
		    <th>審判員氏名</th><td class="judge"></td>
		</tr>
    </table>
    

<div>
	<span class="category">フリー・スケーティング</span>
	<span class="duration">男子・女子：2′00″</span>
</div>

<table class="reguration">
	<tr>
		<th rowspan="3">実施<br>最低<br>要素</th>
		<th>ジャンプ</th>
		<td>
			<ol>
				<li>1A</li>
				<li>任意のダブル</li>
				<li>ジャンプ・コンビネーション（２＋１以上、2と同じ種類のジャンプでもよいが2とは別で行うこと）</li>
			</ol>
		</td>
		<th rowspan="3">合格<br>基準</th>
		<td rowspan="3">GOE: -4以内<br>PCS: 平均2.00以上</td>
	</tr>
	<tr>
		<th>スピン<br>右の内２つ</th>
		<td>
			<ol>
				<li>CSp（5回転以上、足換えなし）</li>
				<li>フライングスピン（着氷後5回転以上、足換えなし）</li>
				<li>CoSp（キャメルおよびシットポジションの両方を含む、6回転以上）</li>
			</ol>
		</td>
	</tr>
	<tr>
		<th>StSq</th>
		<td>リンクの長辺の１／２以上の長さが必要</td>
	</tr>
</table>

<table class="marking_sheet">
	<colgroup class="number"><colgroup class="name">
	<colgroup class="item jump" span="6">
	<colgroup class="item spin" span="2">
	<colgroup class="item step">
	<colgroup class="item pcs" span="3">
	<colgroup class="item pcs-average">
	<colgroup class="result">
	<thead>
		<tr class="title title-1">
			<th rowspan="2" class="number">番<br>号</th>
			<th rowspan="2" class="name">選手名</th>
			<th colspan="6">ジャンプ</th>
			<th colspan="2" rowspan="2">スピン</th>
			<th rowspan="2">Step</th>
			<th colspan="3">PCS</th>
			<th>合計</th>
			<th rowspan="2" class="result">合<br>否</th>
		</tr>
		<tr class="title title-2">
			<th>1A</th>
			<th>ダブル</th>
			<th>コンボ</th>
			<th colspan="3">その他</th>
			<th>SS</th>
			<th>PE</th>
			<th>IN</th>
			<th>平均</th>
		</tr>
	</thead>
	<tbody>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="3"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="3"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="3"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="3"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="3"></td>
			<td></td>
		</tr>
	</tbody>
</table>    

  </section>

  <section class="sheet freeskating grade-4fs">

    <h1>バッジテスト手控え</h1>
    
    <h2>4級</h2>
    
    <table class="basic_information">
	    <tr>
		    <th>実施日</th><td class="date"><span class="year"></span>年<span class="month"></span>月<span class="day"></span>日</td>
		    <th>実施場所</th><td class="place"></td>
		</tr>
		<tr>
		    <th>実施連盟</th><td class="host"></td>
		    <th>審判員氏名</th><td class="judge"></td>
		</tr>
    </table>
    

<div>
	<span class="category">フリー・スケーティング</span>
	<span class="duration">女子：2′30″、男子：3′00″</span>
</div>

<table class="reguration">
	<tr>
		<th rowspan="3">実施最低要素<br>要素の数はJSFノービスB課題に準ずる</th>
		<th>ジャンプ</th>
		<td>
			<ol>
				<li>1A</li>
				<li>3種類のダブル・ジャンプ（トウジャンプとエッジジャップの両方が必要</li>
				<li>ジャンプ・コンビネーション<br>（２＋２以上、2と同じ種類のジャンプでもよいが2とは別で行うこと）</li>
			</ol>
		</td>
		<th rowspan="3">合格<br>基準</th>
		<td rowspan="3">GOE: -4以内<br>PCS: 平均2.50以上</td>
	</tr>
	<tr>
		<th>スピン</th>
		<td>
			<ol>
				<li>女子：LSp（6回転以上、足換えなし）<br>男子：CSp/SSp（6回転以上、足換え任意）</li>
				<li>フライングスピン（着氷後6回転以上、姿勢変更なし、足換えなし）</li>
				<li>CoSp/CCoSp（10回転以上）</li>
			</ol>
		</td>
	</tr>
	<tr>
		<th>ChSq</th>
		<td>女子は約3秒の支持なしスパイラルを含む</td>
	</tr>
</table>

<table class="marking_sheet">
	<colgroup class="number"><colgroup class="name">
	<colgroup class="item jump" span="6">
	<colgroup class="item spin" span="2">
	<colgroup class="item step">
	<colgroup class="item pcs" span="5">
	<colgroup class="item pcs-average">
	<colgroup class="result">
	<thead>
		<tr class="title title-1">
			<th rowspan="2" class="number">番<br>号</th>
			<th rowspan="2" class="name">選手名</th>
			<th colspan="6">ジャンプ</th>
			<th colspan="3">スピン</th>
			<th rowspan="2">ChSq</th>
			<th colspan="5">PCS</th>
			<th>合計</th>
			<th rowspan="2" class="result">合<br>否</th>
		</tr>
		<tr class="title title-2">
			<th>1A</th>
			<th colspan="3">ダブル</th>
			<th>コンボ</th>
			<th>（男子）</th>
			<th>1姿勢</th>
			<th>フライング</th>
			<th>(C)CoSp</th>
			<th>SS</th>
			<th>TR</th>
			<th>PE</th>
			<th>CH</th>
			<th>IN</th>
			<th>平均</th>
		</tr>
	</thead>
	<tbody>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="5"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="5"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="5"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="5"></td>
			<td></td>
		</tr>
	</tbody>
</table>    

  </section>

  <section class="sheet freeskating grade-5fs">

    <h1>バッジテスト手控え</h1>
    
    <h2>5級</h2>
    
    <table class="basic_information">
	    <tr>
		    <th>実施日</th><td class="date"><span class="year"></span>年<span class="month"></span>月<span class="day"></span>日</td>
		    <th>実施場所</th><td class="place"></td>
		</tr>
		<tr>
		    <th>実施連盟</th><td class="host"></td>
		    <th>審判員氏名</th><td class="judge"></td>
		</tr>
    </table>
    

<div>
	<span class="category">フリー・スケーティング</span>
	<span class="duration">女子：3′00″、男子：3′30″</span>
</div>

<table class="reguration">
	<tr>
		<th rowspan="3">実施最低要素<br>要素の数はJSFノービスB課題に準ずる</th>
		<th>ジャンプ</th>
		<td>
			<ol>
				<li>1A</li>
				<li>5種類のダブル・ジャンプ</li>
				<li>2Lz+2 または 2F+2 ここで実施するジャンプは2のジャンプとして数えてよい</li>
			</ol>
		</td>
		<th rowspan="3">合格<br>基準</th>
		<td rowspan="3">GOE: -4以内<br>PCS: 平均3.00以上</td>
	</tr>
	<tr>
		<th>スピン</th>
		<td>
			<ol>
				<li>女子：LSp（6回転以上、足換えなし）<br>男子：CSp/SSp（6回転以上、足換え任意）</li>
				<li>フライングスピン（着氷後6回転以上、足換えなし、男子は着氷後の姿勢が1と異なること）</li>
				<li>CoSp/CCoSp（10回転以上）</li>
			</ol>
		</td>
	</tr>
	<tr>
		<th>StSq</th>
		<td></td>
	</tr>
</table>

<table class="marking_sheet">
	<colgroup class="number"><colgroup class="name">
	<colgroup class="item jump" span="7">
	<colgroup class="item spin" span="3">
	<colgroup class="item step">
	<colgroup class="item pcs" span="5">
	<colgroup class="item pcs-average">
	<colgroup class="result">
	<thead>
		<tr class="title title-1">
			<th rowspan="2" class="number">番<br>号</th>
			<th rowspan="2" class="name">選手名</th>
			<th colspan="7">ジャンプ</th>
			<th colspan="3">スピン</th>
			<th rowspan="2">StSq</th>
			<th colspan="5">PCS</th>
			<th>合計</th>
			<th rowspan="2" class="result">合<br>否</th>
		</tr>
		<tr class="title title-2">
			<th colspan="6">1A 2S 2T 2Lo 2F 2Lz</th>
			<th>コンボ</th>
			<th>1姿勢</th>
			<th>フライング</th>
			<th>(C)CoSp</th>
			<th>SS</th>
			<th>TR</th>
			<th>PE</th>
			<th>CH</th>
			<th>IN</th>
			<th>平均</th>
		</tr>
	</thead>
	<tbody>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="5"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="5"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="5"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="5"></td>
			<td></td>
		</tr>
	</tbody>
</table>    

  </section>

  <section class="sheet freeskating grade-6fs">

    <h1>バッジテスト手控え</h1>
    
    <h2>6級</h2>
    
    <table class="basic_information">
	    <tr>
		    <th>実施日</th><td class="date"><span class="year"></span>年<span class="month"></span>月<span class="day"></span>日</td>
		    <th>実施場所</th><td class="place"></td>
		</tr>
		<tr>
		    <th>実施連盟</th><td class="host"></td>
		    <th>審判員氏名</th><td class="judge"></td>
		</tr>
    </table>
    

<div>
	<span class="category">フリー・スケーティング</span>
	<span class="duration">女子：3′30″、男子：4′00″</span>
</div>

<table class="reguration">
	<tr>
		<th rowspan="3">実施最低要素<br><br>ISUジュニアのウェルバランスプログラムを満足の上、6級課題を実施する。</th>
		<th>ジャンプ</th>
		<td>
			<ol>
				<li>5種類のダブルのジャンプ（2Aを含む）</li>
				<li>女子：2Lzまたは2Fを含む2+2以上、男子：3+2以上<br>ここで実施するジャンプは1のジャンプとして数えてよい</li>
			</ol>
		</td>
		<th rowspan="3">合格<br>基準</th>
		<td rowspan="3">GOE: -5以内<br>PCS: 平均3.75以上</td>
	</tr>
	<tr>
		<th>スピン</th>
		<td>
			<ol>
				<li>１姿勢のスピン（6回転以上、足換え任意）</li>
				<li>フライングスピン（着氷後6回転以上、足換え任意）</li>
				<li>CoSp/CCoSp（10回転以上、足換え任意）</li>
			</ol>
		</td>
	</tr>
	<tr>
		<th>StSq</th>
		<td><!-- 氷面を十分に利用すること --></td>
	</tr>
</table>

<table class="marking_sheet">
	<colgroup class="number"><colgroup class="name">
	<colgroup class="item jump" span="8">
	<colgroup class="item spin" span="3">
	<colgroup class="item step">
	<colgroup class="item pcs" span="5">
	<colgroup class="item pcs-average">
	<colgroup class="result">
	<thead>
		<tr class="title title-1">
			<th rowspan="2" class="number">番<br>号</th>
			<th rowspan="2" class="name">選手名</th>
			<th colspan="8">ジャンプ</th>
			<th colspan="3">スピン</th>
			<th rowspan="2">StSq</th>
			<th colspan="5">PCS</th>
			<th>合計</th>
			<th rowspan="2" class="result">合<br>否</th>
		</tr>
		<tr class="title title-2">
			<th>2A</th>
			<th colspan="4">2S 2T 2Lo 2F 2Lz</th>
			<th colspan="3">女子：2F+2/2Lz+2<br>男子：3+2</th>
			<th>1姿勢</th>
			<th>フライング</th>
			<th>(C)CoSp</th>
			<th>SS</th>
			<th>TR</th>
			<th>PE</th>
			<th>CH</th>
			<th>IN</th>
			<th>平均</th>
		</tr>
	</thead>
	<tbody>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="5"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="5"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="5"></td>
			<td></td>
		</tr>
		<tr class="element">
			<th rowspan="2"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td rowspan="2"></td>
		</tr>
		<tr class="goe">
			<td>GOE</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="5"></td>
			<td></td>
		</tr>
	</tbody>
</table>    

  </section>

</body>

</html>
